<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <h1>URL List</h1>
    <form method="GET" action="{% url 'url_list' %}" class="search-box">
        <input type="text" name="search_box" placeholder="Search by title or short URL" value="{{ query|default:'' }}">
        <button type="submit">Search</button>
    </form>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Short URL</th>
            <th>Added time</th>
            <th colspan="2">Action</th>
        </tr>
        {% for x in page_obj %}
        <tr>
            <td>{{x.title}}</td>
            <td>{{x.short_url}}</td>
            <td>{{x.time}}</td>
            <td><a href="{% url 'edit_url' x.id %}">Edit</a></td>   
            <td><a href="{% url 'delete_url' x.id %}">Delete</a></td>
        </tr>

        {% endfor %}    
    </table>
    <nav aria-label="Page navigation" class="paginator">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Prev</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <strong>{{ i }}</strong>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </nav>
</body>
</html>